nav.primary{
/*display: table;*/
/*margin: 0 auto;*/
/*background: #A0A6A8;*/
 }
.fixed-nav-bar {
  position: relative;
  top: 10px;
/*  left: 0;*/
  z-index: 9999;
  width: 100%;
/*  height: 20px;*/
/*  background-image: url('../images/footer_lodyas.png');*/
/*  background-color: #A0A6A8;*/
}
nav.primary ul,
nav.primary ul li {
    margin: 10px auto;
    float:none; 
    position:relative; 
/*    top:75px; */
/*    left:-120px;*/
    width:50rem;
}
nav.primary ul li {
display: inline;
/*float: left;*/
position: relative;
margin: 50px, 0;
}
.logo {
/*
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
  height: 20rem;
  width: 20rem;
  top:-30px;
*/
  height: 30rem;
  width: 30rem;
  display: block;
  margin: auto;
}
.intro-img {
  height: 27rem;
  width: 30rem;
  display: block;
  margin: auto;
}
.upper {
    padding-top: 10rem;
    text-align: center;
}
.intro {
    padding-top:3rem;
    text-align:center;
}
.section {
    height: 600px;
}
.first {
 
}
.second {
  background-image: url('/images/bushido_001.jpg');
  background-size: cover;
}
.third {
    
}
.footer {
  height: 15rem;
}
.down-arrow {
  padding-top: 3rem;
  height: 3rem;
  width: 3rem;
}
.academy-table {
    width: 10rem;
    margin: auto;
    border-collapse: collapse;
}
.academy-img {
    height:22rem;
    width:25rem;
}
.academy-header {
    margin-top: 5rem;
    height: 15rem;
    text-align: center;
}
.academy-academy {
    text-align: center;
}
.academy-jimmy h5 {
    width:20rem;
    margin:auto;
}
.academy-jimmy {
    text-align: center;
}
.jimmy-img {
    height: 27rem;
    width: 30rem;
}
.team-img {
    height: 35rem;
    width: 50rem;
}
.academy-team {
    text-align: center;
}
.schedule-header {
    margin-top: 5rem;
    height: 15rem;
    text-align: center;
}
.contact-header {
    margin-top: 5rem;
    height: 15rem;
    text-align: center;
}


