nav.primary{
/*display: table;*/
margin: 0 auto;
/*background: #b3b3b3;*/
 }
nav.primary ul,
nav.primary ul li {
margin: 0px;
}

nav.primary select {
display: none;
width:  100%;
height: 28px;
margin: 21px 0;
}

nav.primary ul li {
display: inline;
/*float: left;*/
position: relative;
}

nav.primary ul li a {
display: inline-block;
line-height: 49px;
padding:  0 14px;
color: white;
text-transform: uppercase;
text-decoration: none;
/*font-weight: bold;*/
}

nav.primary ul li a:hover {
/*background-color: white;*/
/*cursor: pointer;*/
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


.schedule {
/*  background-image: url('../images/footer_lodyas.png');*/
  background-size: cover;
/*  color: #fff;*/
  padding-bottom: 5rem;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-image: url('../images/footer_lodyas.png');
/*  background-color: #00a087;*/
}
.logo {
  position: relative;
}
.logo {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

/* Image slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; } 
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}