nav.primary{
/*display: table;*/
margin: 0 auto;
/*background: #b3b3b3;*/
 }
nav.primary ul,
nav.primary ul li {
margin: 0px;
}

nav.primary select {
display: none;
width:  100%;
height: 28px;
margin: 21px 0;
}

nav.primary ul li {
display: inline;
/*float: left;*/
position: relative;
}

nav.primary ul li a {
display: inline-block;
line-height: 49px;
padding:  0 14px;
color: white;
text-transform: uppercase;
text-decoration: none;
/*font-weight: bold;*/
}

nav.primary ul li a:hover {
/*background-color: white;*/
/*cursor: pointer;*/
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


.schedule {
/*  background-image: url('../images/footer_lodyas.png');*/
  background-size: cover;
/*  color: A0A6A8;*/
  padding-bottom: 5rem;
  background-color: #A0A6A8;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-image: url('../images/footer_lodyas.png');
/*  background-color: #00a087;*/
}
.logo {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

/* Image slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*body { background: #200; }*/
#slidy-container { 
  width: 600%; margin: 0 auto; overflow: hidden;
}
.slider {
  position: relative;
  max-width: 150%;
  margin: 3rem auto -12rem; 
}